let mapleader = " "
set number relativenumber
set nu rnu
inoremap jk <esc>
nnoremap <leader>t :action GotoFile<CR>
nnoremap <leader>n :action RenameFile<CR>
nnoremap <leader>a :action Run<CR>
nnoremap <leader>d :action ToggleDistractionFreeMode<CR>

nnoremap <C-l> <C-w>l
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-k> <C-w>k
set surround
map <Tab><Tab> :action RecentFiles<CR>
