let mapleader = " "
set number relativenumber
set nu rnu
inoremap jk <esc>
nnoremap <leader>t :action GotoFile<CR>
nnoremap <leader>n :action RenameFile<CR>
nnoremap <leader>a :action Run<CR>
nnoremap <leader>d :action ToggleDistractionFreeMode<CR>

nnoremap <C-l> <C-w>l
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-k> <C-w>k
set surround
set hi
set hls
set ic
set is
map <Tab><Tab> :action RecentFiles<CR>

nnoremap mm  :action ToggleBookmarkWithMnemonic<CR>
nnoremap mb  :action ToggleLineBreakpoint<CR>
nnoremap <A-j> 10j
nnoremap <A-k> 10k
nnoremap <leader>s : action GotoSymbol<CR>
